
body {
    margin: 0;
    background: url(9.jpg) 0 0/cover no-repeat fixed;

}

img {
    width: 300px;


}


.title {
    display: flex;

    vertical-align: middle;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(pictures/fon2.jpg) 50% 50%/cover no-repeat;
    opacity: 0.9;
}

h1 {
    background-color: rgba(255, 255, 255, 0.788);
    padding: 10px 20px 10px;
    border: 2px solid black;
    color: black;
    font-weight: bolder;
  transition: .3s;
     text-align: justify;
   font-style: italic;
}

.info {
    display: flex;
    justify-content: center;
}

.descr {
    font-size: 22px;
    padding: 40px;
    width: 700px;
     text-align: justify;

    font-style: italic;
    background-color: rgba(255, 255, 255, 0.493);
    transition: .3s;
}

.box {
    background-color: rgba(255, 255, 255, 0.329);
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    margin: 40px 20px 20px;
    padding: 40px 20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;

}

.box div {
    padding: 10px 10px 2px;
    margin: 10px;
    box-shadow: 0 0 10px rgb(83, 83, 83);
    background-color: rgba(255, 255, 255, 0.493);
    transition: .4s;
    text-align: center;
}

.name_char {

    margin: 0;
    letter-spacing: 0px;
    font-weight: 1000;
  font-style: italic;
text-align: center;
}

.cost {

    letter-spacing: 0px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0px 0px 0px;
    color: rgba(255, 255, 255, 0);
    transition: .2s;
    cursor: default;
    letter-spacing: 0px;
}

@media (max-width:900px) {
    .descr {
        font-size: 13px;
        padding: 30px;
        text-align: center;
        margin: 10px;
    }

    img {
        width: 250px;
        text-align: center;
    }

    .box {
        background-color: rgba(255, 255, 255, 0.329);
        border: 1px solid black;
        box-shadow: 0 0 5px black;
        margin: 40px 10px 20px;
        text-align: center;
        padding: 20px 20px 20px;
    }
}

@media (min-width: 1200px) {
    .box div:hover .cost {
        color: black;
    }

    .box div:hover {
        transform: translateY(-10px);
        box-shadow: 0 0 12px black;
    }

    h1:hover {
        transform: scale(1.1);
        background-color: white;
        box-shadow: 0 0 15px black;
        border: 0;
    }

    .descr:hover {
        box-shadow: 0 0 8px black;
    }

}

@media (min-width:1600px) {
    img {
        width: 400px;
    }
}
